@import './variables.scss';

body {
  background-color: $secondary-color;
}

.app {
  text-align: center;

  form {
    margin: 40px auto;
  }

  .tile-container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
